[client]
port             = xxxx
# Port number above to tell client which port to use for connection to server
socket           = /location/mariadb/mysql.sock

[mysqld]
basedir          = /location/myserver/mariadb
datadir          = /location/mariadb/data
port             = xxxx 
# Port number above for server
socket           = /location/mariadb/mysql.sock
bind-address     = 127.0.0.1
# Restrict connection to local host
pid-file         = /location/mariadb/mariadb.pid
# Store Process id above
log-error        = /location/mariadb/error.log
general_log      = 1
general_log_file = /location/mariadb/logs/general.log
user             = user_name
